<!doctype html>
<html>
  <head>
    <title>errrrrrrrrrrrd</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  </head>
  <body>
  	<div class="container">
  		<h1>Ferrrrrrrrrd</h1>
	  	<form method="POST" action="/show" enctype="multipart/form-data">
			<div class="form-group">
				<label>Upload Image</label>
				<input type="file" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
  	</div>
	<!-- <img src={{image}}/> -->
  </body>
</html>